<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  </head>
  <body>
    <div id="app">
    	
    	{{ message }}
    	<todo-item></todo-item>
    </div>
    <script>
    	var todoItem = Vue.component('todo-item', {
		  template: '<li>This is a todo</li>'
		});
    	var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			},
			component: todoItem
		});
		
    </script>
  </body>
</html>
